<div class="center jumbotron">
  <h1>So you found Ahoy?</h1>

  <h2>
    Ahoy is a local advertising facilitator! This is
    <a href="http://www.emmanuelfreddy.com/">Emmanuel Freddy</a>
    's side project!
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<div class="center jumbotron">
  <div class="fill">
  <%= image_tag "ad-billboard.jpg", size: "720x350"%>
  </div>
</div>