<% provide(:title, 'Ride Requested!') %>
<% unless current_user.karma_points.nil? %>
  <h1>You have requested a ride!</h1>
  <div><a>Let us know when you have completed your ride!</a>
    <a><%= link_to '<button type="button"> Ride completed! </button>'.html_safe, ride_completed_path(update_user_points: @update_karma_user) %></a>
  </div>
<% else %>
  <h1>Sorry! You haven't accumulated any karma points! Offer someone a ride on your next trip and gain some!</h1>
<%end%>
