<footer class="footer">
  <small>
    Carma- Make friends and get around</a>
    by Riya and Freddy</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>
